{{ define "main" }}
<div class="containerCenter" style="padding-top: 10rem;">
    <h1 class="title" style="color: var(--dark_blue);">
        Resources
    </h1>
</div>

<div class=" containerCenter">

    <!-- Ranges through content/posts/*.md -->
    <div class="posts_container">
    {{ range .Pages }}
    <a href="{{ .Permalink }}">
        <div class="post_card">
            <div class="post_featured_image_container">
                {{ $image := resources.Get .Params.featured_image }}
                <img src="{{ $image.RelPermalink }}" alt=" {{ .Params.featured_image_alt }}  " class="post_featured_image">            </div>
            <div class="post_title_container">
                <div class="post_title">
                    {{ .Params.title }}
                </div>
            </div>
        </div>
    </a>
    {{ end }}
    </div>

</div>

<style scoped>
    .posts_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
  }
  
  .post_card{
    width: 350px;
    height: 450px;
    background-color: var(--light_blue);
  }

  .post_featured_image_container{
    width: 100%;
  }

  .post_featured_image{
    width: 100%;
    height: 350px;
    object-fit: cover
  }

  .post_title{
      width: auto;
      color: white;
  }

  .post_title_container{
    padding: 10px;
  }

  @media only screen and (max-width: 1200px) {
  .posts_container{
    grid-template-columns: 1fr 1fr;
  }

}

@media only screen and (max-width: 760px) {
  .posts_container{
    grid-template-columns: 1fr;
  }

}

</style>
{{ end }}
