
{{ if  eq .icon "svg/incident_reporting.html"  }}
    {{ partial "svg/incident_reporting.html" }}
{{ end }}

{{ if  eq .icon "svg/compliance.html"  }}
    {{ partial "svg/compliance.html" (dict "width" .width )}}
{{ end }}

{{ if  eq .icon "svg/healthcare.html"  }}
    {{ partial "svg/healthcare.html" }}
{{ end }}


{{ if  eq .icon "svg/background_check.html"  }}
    {{ partial "svg/background_check.html" }}
{{ end }}

{{ if  eq .icon "svg/shield.html"  }}
    {{ partial "svg/shield.html" (dict "width" .width ) }}
{{ end }}

{{ if  eq .icon "svg/loging.html"  }}
    {{ partial "svg/loging.html" (dict "width" .width ) }}
{{ end }}

{{ if  eq .icon "svg/search.html"  }}
    {{ partial "svg/search.html" (dict "width" .width ) }}
{{ end }}

{{ if  eq .icon "svg/badge.html"  }}
    {{ partial "svg/badge.html" (dict "width" .width ) }}
{{ end }}

{{ if  eq .icon "svg/exclusion.html"  }}
    {{ partial "svg/exclusion.html" (dict "width" .width ) }}
{{ end }}

{{ if  eq .icon "svg/lostandfound.html"  }}
    {{ partial "svg/lostandfound.html" (dict "width" .width ) }}
{{ end }}

{{ if  eq .icon "svg/folder.html"  }}
    {{ partial "svg/folder.html" (dict "width" .width ) }}
{{ end }}



