<div class="containerCenter" style="display: flex; justify-content: space-between; flex-wrap: wrap; ">
    <div class="containerCenter" style="max-width: 500px; padding: 20px; margin: auto;" >
      <img src="/images/CIP Reporting Workflow.png" alt="Girl in a jacket" width="100%" >
    </div>
    <div style="padding: 20px; max-width: 500px; margin: auto;">
        <h2 class="sub-title" style="color: var(--accent_orange)">
          {{ .title }}
        </h2>
        <p class="text">
          {{ .content }}
        </p>
        <div class="containerCenter">
          <a class="mainButton" style="text-align:center">
              See What Make Us Different
          </a>
      </div>  
    </div>
  </div>