<div class="footer-wrapper containerCenter">
    <div class="footer-container">
        <div class="footer-top">
            <div>
                <h3 style="color: white;">Let's Create a Solution</h3>
                <p class="sub-text" style="color: white;">Get in touch with us and let's work together.</p>
                <a class="mainButton" href="/request_demo/request_demo2/">
                    Request a Demo
                </a>
            </div>
            <div>
                <ul class="containerCenter icons_container">
                    <li class="icon_item">
                        <a href="https://www.facebook.com/cipreporting">
                            {{ partial "svg/facebook.html" (dict "context" . "width" 30 "color" "white" )}}
                        </a>
                    </li>
                    <li class="icon_item">
                        <a href="https://github.com/CIP-Reporting">
                            {{ partial "svg/github.html" (dict "context" . "width" 30 "color" "white" )}}
                        </a>
                    </li>
                    <li class="icon_item">
                        <a href="https://www.linkedin.com/company/cip-reporting">
                            {{ partial "svg/linkedin.html" (dict "context" . "width" 30 "color" "white" )}}
                        </a>
                    </li>
                    <li class="icon_item">
                        <a href="https://twitter.com/cipreporting">
                            {{ partial "svg/x-twitter.html" (dict "context" . "width" 30 "color" "white" )}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            Copyright © 2006–2023 · info@cipreporting.com · 888.975.2040 · Privacy Policy
        </div>
    </div>
</div>  

<style scoped>
    .icon_container{
        color: white;
    }

    .icon_item{ 
        padding: 5px;
        padding-left: 35px;

    }

</style>